.DS_Store
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.whl

# Ignore LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.dvi
*.pdfsync
*.lof
*.lot
*.idx
*.ilg
*.ind
*.glo
*.gls
*.acn
*.vrb
*.synctex.gz.sum.synctex